{% extends 'layout.html' %}

{% block content%}
{% if no_of_bookings > 0 %}
    {% for booking in bookings %}
        <article>
            <h2>{{ booking.purpose }}, {{ booking.room }}</h2>
            <p>{{ booking.date }}, {{ booking.period }}</p>
            <a href="{{ url_for('delete_booking', room = booking.room, date = booking.date, period = booking.period, purpose = booking.purpose) }}" class="delete">Delete Booking</a>
        </article>
    {% endfor %}
{% else %}
    <h1>You have no bookings to delete.</h1>
{% endif %}
{% endblock %}